* {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Rubik", sans-serif;
  color: #10182f;
}

a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: black;
}

h1 {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.profile {
  text-align: center;
}

.profile h2 {
  color: #b22222;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 10px auto;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 150px;
}

.card-body h4 {
  font-size: 20px;
}

.tags {
  display: inline;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  /* cursor: pointer; */
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

@media (max-width: 765px) {
  h1 {
    font-size: 22px;
    width: 80%;
  }

  .container {
    flex-direction: column;
  }
}
