// Primary

$orange: hsl(26, 100%, 55%);
$pale-orange: rgb(255, 237, 224);
$hover-orange: hsl(27, 100%, 71%);

// Neutral

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)

$some: hsl(230, 60%, 98%);
